<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Maritime Crew - Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Come see The Maritime Crew at Auckland's Voyager Martitime Museum! Check the Events page for dates.">
    <meta name="author" content="The Maritime Crew">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">

	<!-- Project -->
    <link href="assets/css/application.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

	<link rel="shortcut icon" href="images/layout/keyicon.png">

	<style type="text/css">

		.show-description {	
			font-size: 12px;
		}
		.show-venue {
			font-weight: bold;
			font-size: 12px;
		}
		.show-venue-url {
			font-family: Arial, Helvetica, sans-serif;
		}
		.show-time {
			font-weight: bold;
		}
		.show-timezone {
			font-style: italic;
			font-size: 10px;
		}

	</style>
  
</head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="index.html">The Maritime Crew</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="index.html">Home</a></li>
              <li class="active"><a href="events.html">Events</a></li>
			  <li><a href="about.html">About</a></li>
              <li><a href="shop.html">Shop</a></li>
              <li><a href="gallery.html">Gallery</a></li>
              <li><a href="songs.html">Songs</a></li>
              <li><a href="brew.html">Brew</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

	<div class="container" id="eventEntries">
		<div class="standard-background">
			<p class="lead">
				The Maritime Crew perform on the first of the month at the <a href="http://www.maritimemuseum.co.nz">Voyager Auckland Maritime Museum</a>. Performances are free to the public. The date varies when public holidays fall at the beginning of the month.
			</p>

			<div class="row-fluid">
				<div class="span8 offset2 event-box">
					<div class="news-container">
						<div data-template>
							<table class="table table-striped table-condensed entries-table" style="width:100%" id="eventTable" >
								<tr class="entry-summary" id="eventSummary-{{_tempo.index}}">
									<td width="85px" style="white-space: nowrap">
										<span class="show-date">{{date}}</span>
									</td>
									<td width="40%" class="show-venue">
										{{venueName}}
									</td>
									<td with="20%">
										{{city}}
									</td>
									<td width="10%">
										{{countryAbbreviation}}
									</td>
									<td width="10px">
										<i class="icon-info-sign" />
									</td>
								</tr>
								<tr id="eventDetail-{{_tempo.index}}" style="display: none;">
									<td valign="top" colspan="5">
										Show time: <span class="show-time">{{dateTime}}</span> {% if timeZone != '' %}<span class="show-timezone">({{timeZone}})</span>{% endif %}
										<br />
										Venue: <span class="show-venue">{{venueName}}</span>
										<span class="show-description">{{description}} {% if venueURI != '' %} <a href="{{venueURI}}" target="_blank">{{venueURI}}</a> {% endif %}</span>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- /container -->
	
	<hr class="hero-hr">
	
	<footer>
		<div class="copyright">
			&copy; The Maritime Crew 2013
		</div>
	</footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

	<!-- http://twigkit.github.com/tempo/ -->
	<!-- IMPORTANT: must use tempo.js, not tempo.min.js, because I found that _tempo.index doesn't work if the min file is used. -->
	<script src="assets/js/tempo.js"></script>	

	<!-- http://www.fyneworks.com/jquery/xml-to-json/ -->
	<script src="assets/js/jquery.xml2json.js"></script>

	<!-- http://momentjs.com/ -->
	<script src="assets/js/moment.min.js"></script>
	
	<script>
		// Specify the date and time formats.
		var eventDateFormat = "D MMM YYYY";
		var eventTimeFormat = "h:mm a";
		
		var maxItems = 10;
		
		$(document).ready(function() {
		
			// Load XML into JSON and render with Tempo.
			var eventEntries = Tempo.prepare("eventEntries");

			$.get("load_feed.php?source=futureshows",
				function(xml) {
					var data = $.xml2json(xml);
					var events = [];
					
					// Annoyance: if the feed returns only one entry, xml2json doesn't return an array.
					if (data.show.length == undefined) {
						events[0] = data.show;
					} else {
						events = data.show;
					}

					// Put a date+time entry into the json object that represents the local datetime entered into ArtistData.
					// DON'T use gmtDate as that gives the actual GMT date, i.e. the date adjusted for local timezone, which isn't what we want.
					for (i = 0; i < events.length; i++) {
						var entry = events[i];
						entry.dateTime = entry.date + " " + entry.timeSet.substr(0,8);
					}

					// Drop the max if the default is more than the array length.
					if (maxItems > events.length)
						maxItems = events.length;
						
					// Drop the array size to the desired max.
					var sliced = events.slice(0, maxItems);

					// Call the tempo renderer.
					eventEntries.render(sliced);

					// Add a toggle event to each entry to show/hide the detail when clicked.
					for (i = 0; i < events.length; i++) {
						$("#eventSummary-" + i).click(function() {
							var id = this.id;
							var detail = "#eventDetail-" + id.substr("eventSummary-".length);
							$(detail).fadeToggle("slow");
						});
					}

					// Use moment to format the dates as the tempo date formatter seems quite unreliable.
					$(".show-date").each(function (idx, elem) {
						var showTime = moment($(elem).text());
						$(elem).text(showTime.format(eventDateFormat));
					});
					// Time format.
					$(".show-time").each(function (idx, elem) {
						var showTime = moment($(elem).text());
						$(elem).text(showTime.format(eventTimeFormat));
					});
				});
			});
	</script>


		
</body>
</html>
